<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
    <title>vidAIo - {{ title }}</title>
    {% else %}
    <title>vidAIo</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-glyphicons.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 
  </head>
  <body>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>